---
layout: layouts/base.njk
---
{% block heroIntro %}
  {% include 'partials/hero-intro.njk' %}
{% endblock heroIntro %}

{% block featuredWork %}
  {% include 'partials/featured-work.njk' %}
{% endblock featuredWork %}

{% block featuredWriting %}
  {% include 'partials/featured-writing.njk' %}
{% endblock featuredWriting %}

{% block featuredBookmarks %}
  {% include 'partials/featured-bookmarks.njk' %}
{% endblock featuredBookmarks %}


