---
layout: layouts/base.njk
---

<div class="w-full max-w-full mx-auto my-auto">

  <div class="max-w-8xl mx-auto h-auto py-4 md:py-4 px-4 lg:px-12 xl:px-12 2xl:px-2">

    <div class="grid grid-cols-1 lg:grid-cols-12 pt-8">

        <div class="lg:col-span-8 xl:col-span-9">

        <article class="prose max-w-none dark:prose-dark">
          {{ content | safe }}
        </article>

        </div>

        <div class="sticky h-screen top-0 lg:col-span-4 xl:col-span-3">
            <aside class="prose dark:prose-dark">
            {{ content | toc | safe }}
            </aside>
        </div>


    </div>

  </div>

</div>

