---
layout: layouts/base.njk
---


    {% include "partials/site-head.njk" %}


    
<div class="w-full max-w-full mx-auto my-auto">

  <div class="max-w-8xl mx-auto h-auto py-4 md:py-4 px-4 lg:px-12 xl:px-12 2xl:px-2">


  <div class="flex flex-col w-full">
    <div class="w-full flex flex-row justify-between items-start pb-4 pt-4">

    <p class="text-sm md:text-base text-gray-700 dark:text-gray-200 font-bold font-OpenSauceSans" > {{ page.date | readableDate }} </p>
    <p class="text-sm md:text-base text-gray-700 dark:text-gray-200 font-bold font-OpenSauceSans" > {{ location }} </p>


    </div>

    <div class="h-vsm w-full bg-gray-500">

    </div>
  </div>

    <div class="pt-4 md:pt-4 lg:pt-12">

      <h1 class="text-fred dark:text-fgreen text-4xl lg:text-6xl font-OpenSauceSans font-bold tracking-tighter max-w-4xl leading-tight"> {{ title }} </h1>


    </div>

    <div class="text-gray-800 dark:text-gray-100 text-lg md:text-xl lg:text-2xl font-semibold pt-4 md:pt-4 lg:pt-8 italic max-w-4xl tracking-tight font-OpenSauceSans">
    {% if subtext %}
      <p> {{ subtext }} </p>
    {% endif %}
      
    </div>



{% if coverimagetrue %}

      <img
          src="{{ coverimage }}"
          alt="{{ lkdklc}}"
          loading="lazy"
          class="w-full pt-4 md:pt-4 lg:pt-12 rounded-sm"
        />
 





{% endif %}

    <div class="grid grid-cols-1 lg:grid-cols-12 pt-8">

      {% if tocenabled %}

      <div class="lg:col-span-8 xl:col-span-9">

        <article class="prose max-w-none dark:prose-dark pr-0 md:pr-8 lg:pr-12">
          {{ content | safe }}
        </article>

      </div>
        {% else %}



      <div class="lg:col-span-12 xl:col-span-12">



        <article class="prose max-w-none dark:prose-dark pr-0 md:pr-8 lg:pr-12">
          {{ content | safe }}
        </article>

      </div>

      {% endif %}




        {% if tocenabled %}
        <div class="sticky h-screen w-full top-0 lg:col-span-4 xl:col-span-3">
            
            <aside class="pt-8">
            <div class="uppercase text-base font-bold font-inter text-fred dark:text-fgreen tracking-wider pb-4">
            <p> Table of Contents ↓ </p>
            </div>
            {{ content | toc | safe }}
            </aside>
        </div>
        {% endif %}



    </div>

  </div>

</div>

