---
layout: layouts/base.njk
---

{% block sideInfo %}
  {% include 'partials/side-info.njk' %}
{% endblock sideInfo %}


{% block featuredWork %}
  {% include 'partials/featured-work.njk' %}
{% endblock featuredWork %}
