@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
     .smoothed {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  normal;
        font-weight: 300;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-Light.woff") format("woff");
      }
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  italic;
        font-weight: 300;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-LightItalic.woff") format("woff");
      }
      
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  normal;
        font-weight: 400;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-Regular.woff") format("woff");
      }
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  italic;
        font-weight: 400;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-Italic.woff") format("woff");
      }
      
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  normal;
        font-weight: 500;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-Medium.woff") format("woff");
      }
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  italic;
        font-weight: 500;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-MediumItalic.woff") format("woff");
      }
      
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  normal;
        font-weight: 600;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-SemiBold.woff") format("woff");
      }
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  italic;
        font-weight: 600;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-SemiBoldItalic.woff") format("woff");
      }
      
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  normal;
        font-weight: 700;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-Bold.woff") format("woff");
      }
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  italic;
        font-weight: 700;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-BoldItalic.woff") format("woff");
      }
      
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  normal;
        font-weight: 800;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-ExtraBold.woff") format("woff");
      }
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  italic;
        font-weight: 800;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-ExtraBoldItalic.woff") format("woff");
      }
      
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  normal;
        font-weight: 900;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-Black.woff") format("woff");
      }
      @font-face {
        font-family: 'Open Sauce Sans';
        font-style:  italic;
        font-weight: 900;
        font-display: swap;
        src: url("src/fonts/OpenSauceSans-BlackItalic.woff") format("woff");
      }
}